/* ========================================= */

.App {
  text-align: center;

}

.homepic{
  margin-left: 400px;
  align-content: center;
  align-items: center;
  width: 40vw;
  height: 40vh;
    } 

.homePageBG{
  background-image: url('https://images.unsplash.com/photo-1512805147242-c3e79caf64bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bodyHeight {
 
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  
}
.aqua{
  margin-left: 825px;
  align-content: center;
  text-align: center;
  color: pink;
  font-size: 18px;
  background-color: aqua;
}

.scale{

  min-height: 100%;
  min-width: 1024px;
  width: 100%;
    height: auto;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bookFont{
font-family: din-condensed, sans-serif;
font-style: normal;
font-weight: 300;
color: lightblue;
font-size: 6em;
text-shadow: 8px 8px 8px black;

}

.ventListTitle{
  margin-top: 10px;
}

.thisText{
  color: blue;
}

.thisText2{
  color: blue;
  text-shadow: 0px 0px 5px black;
}

.singleUserBG{
  background-image: url("https://images.unsplash.com/photo-1521572063439-8a4186b6d843?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bookFont2{
  font-family: din-condensed, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: white;
  font-size: 4em;
  text-shadow: 8px 8px 8px black;
  /* margin-top: -1%; */
}

.homeText{
  position: absolute;
}

.homeContain{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}

/* .homeImg{
  height: 200px;
  width: 200px;
} */

.bookListBG{
  background-image: url('https://images.pexels.com/photos/159627/pencils-clips-colour-pencils-foam-rubber-159627.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
